* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: white;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

header,
footer {
    padding: 20px;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nav-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.info {
    flex-direction: row;
    justify-content: space-around;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #00a0d4;
    background-image: url(img/peter.png);
    background-size: 100%;
}

.sub-title {
    border-bottom: 3px solid #549E87;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.link-git,
.link-rss {
    width: 100px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.git {
    background-image: url(img/git.png);
    background-position: 50%;
}

.rss {
    background-image: url(img/rss.svg);
}